@model Banking.Domain.Operation
           
@{
    string participants = Model.ListParticipants();           
}

<div data-entity="operation" data-view="edit" data-id=@Model.ID data-selected="true">    
    <form>
        <div>Date</div>
        <div>@Html.EditorFor(op => op.Date)</div>
        <div>Amount</div>
        <div>@Html.EditorFor(op => op.Amount)</div>
        <div>Mark</div>
        <div>@Html.EditorFor(op => op.Mark)</div>  
        <div>Description</div>
        <div>@Html.EditorFor(op => op.Description)</div>
        <div>Participiants</div>
        <div class="editOperationPersons">@Html.Action("SelectParticipants", new { op = Model })</div>
        <div class="editOperationButtons">
            <input type="button" value="Delete" class="deleteButton" data-action="delete" data-entity="operation"/>
            <input type="submit" value="Save" class="saveButton" data-action="save"/>
            <input type="button" value="Cancel" class="cancelButton" data-action="cancel"/>
        </div>
    </form>
</div> 