@model Banking.Domain.Operation

@using Banking.Web;
           
@{
    string participants = Model.ListParticipants();
    string date = Model.Date.ToString(Helper.DateFormat);       
}

<div data-entity="operation" data-view="edit" data-id=@Model.ID>    
    <form>
        <h3>Edit operation</h3>
        <div>Date</div>
        <div class="datePicker_wrapper">@Html.EditorFor(op => date)</div>
        <div>Amount</div>
        <div>@Html.EditorFor(op => op.Amount)</div>
        <div>Mark</div>
        <div>@Html.EditorFor(op => op.Mark)</div>  
        <div>Description</div>
        <div>@Html.EditorFor(op => op.Description)</div>
        <div>Participiants</div>
        <div class="editOperationPersons">@Html.Action("SelectParticipants", new { op = Model })</div>
       
        <div class="buttons">
            <button data-action="cancel"><img src="../../Content/images/cancel.png" /> Cancel</button>
            <button type="submit" data-action="save"><img src="../../Content/images/save.png" /> Save</button>
            <button data-action="delete" data-entity="operation" data-create="false"><img src="../../Content/images/delete.png" /> Delete</button>
        </div>
    </form>
</div> 