@model Banking.Domain.Operation
    
<tr data-id=@Model.ID>
    <td><input type="checkbox" class="itemCheck" /></td>
    <td>@Model.Date.ToShortDateString()</td>
    <td>@Math.Round(Model.Amount, 2).ToString()</td>
    <td>@Model.Mark</td>
    <td>@Model.Description</td>
    <td>
    <ul>
    @foreach (var man in Model.Participants)
    {
        <li>@Html.ActionLink(man.Name, "ViewHistory", "Person", new { name = man.Name }, null)</li>
    }
    </ul>
    </td>
</tr>      
    



