@model Banking.Domain.Person

@{
    ViewBag.Title = "ViewHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // getting all operations in which current person participate
    var ops = Model.Operations.
        Where(op => op.Participants.
            Any(man => man.Name == Model.Name));
}

<h2>
@Model.Name : $@Math.Round(Model.GetBalance(), 2)
</h2>


<table class="tableView tablesorter" id="history">
    <caption>
        <p>History</p>
    </caption>
    <thead>
        <tr id="headings">
            <th scope="col" class="checkCol"><input type="checkbox" id="selectAll" /></th>
            <th scope="col">Date</th>
            <th scope="col">Part</th>
            <th scope="col">Total</th>
            <th scope="col">Mark</th>
            <th scope="col">Description</th>
            <th scope="col">Others</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var op in ops)
        {
            <tr>
                <td>@op.Date.ToShortDateString()</td>
                <td>@Math.Round(op.GetPersonShare(), 2).ToString()</td>
                <td>@Math.Round(op.Amount, 2)</td>
                <td>@op.Mark</td>
                <td>@op.Description</td>
                <td>
                    <ul>
                        @foreach (var man in op.Participants)
                        {
                            if (man.ID != Model.ID)
                            {
                                <li>@Html.ActionLink(man.Name, "ViewHistory", new { ID = man.ID })</li>
                            }
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>