<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="@Url.Content("~/Content/styles/Main.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/styles/freeow.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/styles/tablesorter.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/main.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.freeow.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tablesorter.min.js")" type="text/javascript"></script>
<noscript>Y'r fuckin' noscript-wanker</noscript>
<script type="text/javascript">
    $(document).ready(function () {
        //removing links on the page itself:
        $("a").filter("[href=\"" + window.location.href + "\"], [href=\"" + window.location.pathname + window.location.search.substring() + "\"]").each(function () { $(this).replaceWith($(this).html()) });
        //Add sorter to data tables
        $(".tableView").tablesorter({ headers: { 0: { sorter: false}} });
        $("#selectAll").click(function () {
            var checked_status = this.checked;
            $(".tableView :checkbox").each(function () {
                this.checked = checked_status;
            });
        });
    });
</script>
<title>@ViewBag.Title</title>
</head>

<body>
<div id="freeow" class="freeow freeow-top-right"></div>
<div id="bgwrap"></div>

<div id="bgfooterwrap"></div>

<header>

  <h1>Account.it</h1>

</header>
<nav>
    <menu>
        <li><a href="/operations">operations</a></li>
        <li><a href="/persons">persons</a></li>
    </menu>
</nav>
    @RenderBody()
    <div id="hidden" style="display:none"></div>
<footer></footer>
</body>


</html>
