@model Banking.Domain.Operation

@using Banking.Web;
           
@{
    string participants = Model.ListParticipants();
    string date = Model.Date.ToString(Helper.DateFormat);       
}

<div data-entity="operation" data-view="edit" data-id=@Model.ID>    
    <form>
        <div>Date</div>
        <div class="datePicker_wrapper">@Html.EditorFor(op => date)</div>
        <div>Amount</div>
        <div>@Html.EditorFor(op => op.Amount)</div>
        <div>Mark</div>
        <div>@Html.EditorFor(op => op.Mark)</div>  
        <div>Description</div>
        <div>@Html.EditorFor(op => op.Description)</div>
        <div>Participiants</div>
        <div class="editOperationPersons">@Html.Action("SelectParticipants", new { op = Model })</div>
        <div class="editOperationButtons">
            <input type="submit" value="Save" class="saveButton" data-action="save"/>
            <input type="button" value="Cancel" class="cancelButton" data-action="cancel"/>
            <input type="button" value="Delete" class="deleteButton" data-action="delete" data-entity="operation"/>
        </div>
    </form>
</div> 